<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.EarthquakeDao" >
  <resultMap id="BaseResultMap" type="com.blog.domain.Earthquake" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="depth" property="depth" jdbcType="DOUBLE" />
    <result column="mag" property="mag" jdbcType="DOUBLE" />
    <result column="magType" property="magType" jdbcType="VARCHAR" />
    <result column="nst" property="nst" jdbcType="DOUBLE" />
    <result column="gap" property="gap" jdbcType="DOUBLE" />
    <result column="dmin" property="dmin" jdbcType="DOUBLE" />
    <result column="rms" property="rms" jdbcType="DOUBLE" />
    <result column="net" property="net" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="VARCHAR" />
    <result column="place" property="place" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="horizontalError" property="horizontalError" jdbcType="DOUBLE" />
    <result column="depthError" property="depthError" jdbcType="DOUBLE" />
    <result column="magError" property="magError" jdbcType="DOUBLE" />
    <result column="magNst" property="magNst" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="locationSource" property="locationSource" jdbcType="VARCHAR" />
    <result column="magSource" property="magSource" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="com.blog.domain.Earthquake" >
    insert into earthquake (time,latitude,longitude,depth,mag,magType,nst,rms,net,
                            updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource)
    values (#{time}, #{latitude},
            #{longitude}, #{depth},
            #{mag}, #{magType},
            #{nst}, #{rms},
            #{net}, #{updated},
            #{place}, #{type},
            #{horizontalError}, #{depthError},
            #{magError}, #{magNst},
            #{status}, #{locationSource},
            #{magSource})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from earthquake
    where id = #{id}
  </delete>

  <update id="update" parameterType="com.blog.domain.Earthquake" >
    update earthquake
    <set >
      <if test="magType != null" >
        magType = #{magType},
      </if>
      <if test="mag != null" >
        mag = #{mag},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    *
    from earthquake
    where id = #{id}
  </select>

  <select id="queryAll" resultMap="BaseResultMap" >
    select *
    from earthquake
  </select>

  <select id="selectByWord" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      *
    from earthquake
    where  id LIKE CONCAT(CONCAT('%', #{word}), '%') or latitude LIKE CONCAT(CONCAT('%', #{word}), '%')
       or longitude LIKE CONCAT(CONCAT('%', #{word}), '%') or mag LIKE CONCAT(CONCAT('%', #{word}), '%')
        or magType LIKE CONCAT(CONCAT('%', #{word}), '%') or net LIKE CONCAT(CONCAT('%', #{word}), '%')
       or place LIKE CONCAT(CONCAT('%', #{word}), '%')
  </select>

  <select id="searchLargestN" resultMap="BaseResultMap">
        SELECT * FROM earthquake ORDER BY mag DESC LIMIT #{n}
  </select>

  <select id="searchByPlace" resultMap="BaseResultMap">
        SELECT * FROM earthquake WHERE place
        LIKE CONCAT(CONCAT('%', #{word}), '%')
  </select>

  <select id="selectByParams" resultMap="BaseResultMap" parameterType="com.blog.domain.Earthquake" >
    select
      *
    from earthquake
    where 1=1
    <if test="id != null" >
      and id = #{net},
    </if>
    <if test="latitude != null" >
      and latitude = #{latitude},
    </if>
    <if test="longitude != null" >
      and longitude = #{longitude},
    </if>
    <if test="mag != null" >
      and mag = #{mag},
    </if>
    <if test="magType != null" >
      and magType = #{magNst},
    </if>
    <if test="net != null" >
      and net = #{net},
    </if>
    and 1=1
  </select>

  <select id="countScale" resultMap="BaseResultMap">
        SELECT * FROM earthquake WHERE magType= #{magType} AND MAG>= #{mag}
  </select>

  <select id="recentlyQuakes" resultMap="BaseResultMap">
    SELECT COUNT(*) FROM earthquake WHERE magType= #{magType} AND MAG >= #{minMag} AND Mag &lt;= #{maxMag}
    AND DATE_SUB(CURDATE(), INTERVAL #{recent} DAY) &lt;= date(time)
  </select>
</mapper>
