<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.EarthquakeDao" >
  <resultMap id="BaseResultMap" type="com.blog.domain.Earthquake" >
    <id column="number" property="number" jdbcType="VARCHAR" />
    <result column="volcano_name" property="volcanoName" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="elev" property="elev" jdbcType="DOUBLE" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="com.blog.domain.Earthquake" >
    insert into v (number,volcano_name,country,region,latitude,longitude,elev)
    values (#{number}, #{volcanoName},
            #{country}, #{region},
            #{latitude}, #{longitude},
            #{elev})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from v
    where number = #{id}
  </delete>

  <update id="update" parameterType="com.blog.domain.Earthquake" >
    update v
    <set >
      <if test="volcanoName != null" >
        volcano_name = #{volcanoName},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude},
      </if>
      <if test="elev != null" >
        elev = #{elev},
      </if>
      <if test="country != null" >
        country = #{country},
      </if>
      <if test="region != null" >
        region = #{region},
      </if>
    </set>
    where number = #{number}
  </update>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    *
    from v
    where number = #{number}
  </select>

  <select id="queryAll" resultMap="BaseResultMap" >
    select *
    from v
  </select>

  <select id="randomN" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select *
    from v
    order by rand() limit #{n}
  </select>

  <select id="searchRange" resultMap="BaseResultMap">
    select v.*
    from v
    left join vindex ON sequence > #{min} AND sequence &lt; #{max}
    where v.number = vindex.number
  </select>

 <!-- <select id="selectByWord" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
      *
    from earthquake
    where  id LIKE CONCAT(CONCAT('%', #{word}), '%') or latitude LIKE CONCAT(CONCAT('%', #{word}), '%')
       or longitude LIKE CONCAT(CONCAT('%', #{word}), '%') or mag LIKE CONCAT(CONCAT('%', #{word}), '%')
        or magType LIKE CONCAT(CONCAT('%', #{word}), '%') or net LIKE CONCAT(CONCAT('%', #{word}), '%')
       or place LIKE CONCAT(CONCAT('%', #{word}), '%')
  </select>-->

 <!-- <select id="searchLargestN" resultMap="BaseResultMap">
        SELECT earthquake FROM earthquake ORDER BY mag DESC LIMIT #{n}
  </select>

  <select id="searchByPlace" resultMap="BaseResultMap">
        SELECT earthquake FROM earthquake WHERE place
        LIKE CONCAT(CONCAT('%', #{word}), '%')
  </select>-->

  <!--<select id="selectByParams" resultMap="BaseResultMap" parameterType="com.blog.domain.Earthquake" >
    select
      *
    from earthquake
    where 1=1
    <if test="id != null" >
      and id = #{net},
    </if>
    <if test="latitude != null" >
      and latitude = #{latitude},
    </if>
    <if test="longitude != null" >
      and longitude = #{longitude},
    </if>
    <if test="mag != null" >
      and mag = #{mag},
    </if>
    <if test="magType != null" >
      and magType = #{magNst},
    </if>
    <if test="net != null" >
      and net = #{net},
    </if>
    and 1=1
  </select>

  <select id="countScale" resultMap="BaseResultMap">
        SELECT * FROM earthquake WHERE magType= #{magType} AND MAG>= #{mag}
  </select>

  <select id="recentlyQuakes" resultMap="BaseResultMap">
    SELECT COUNT(*) FROM earthquake WHERE magType= #{magType} AND MAG >= #{minMag} AND Mag &lt;= #{maxMag}
    AND DATE_SUB(CURDATE(), INTERVAL #{recent} DAY) &lt;= date(time)
  </select>-->
</mapper>
